doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Edit Article
    link(rel="stylesheet", href="/style.css")

  body
    nav
      .container
        h1 
          a(href="/") Ibrahim's Blog
        ul
          li 
            a(href="#") home
          li 
            a(href="add-blog") Add Blog
          li 
            a(href="admin-dashboard") Dashboard 

    main
      .container
        form(action=`/admin/edit-blog?id=${blog._id}`, method="POST")
          label(for="title") Title
          input(type="text", id="title", name="title", placeholder="Article Title", value=blog.title)

          label(for="imageUrl") Image URL
          input(type="text", id="imageUrl", name="imageUrl", placeholder="Enter image URL", value=blog.imageUrl)
		  
          label(for="content") Content
          textarea(id="content", name="content", rows=12, placeholder="Write your article here...")= blog.description

          button.btn(type="submit") Edit
